<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="/static/stilos.css">
	<title>proyecto</title>
</head>
<header>
			<div id="header"><br/>
				<h1>TriviaOnline.bo</h1></br></br></br></br></br>
			</div>
</header>
<body>
	<center><nav></br>
		<menu ><b><a href="inicio"target="_self">INICIO</a></b></menu>
		<menu ><b><a href="registro"target="_self" method="get">REGISTRARSE</b></menu>
		<menu ><b><a href="juegos_publicos.html"target="_self" method>JUEGOS PUBLICOS.</b></menu>
		{% if user.is_anonymous %}
		<menu ><b><a href="login"target="_self">LOGIN</a></b></menu>
		{% endif %}
		<menu ><b><a href="acerca_juego" target="_self">ACERCA DE PAGINA</a></b></menu>
		{% if not user.is_anonymous %}
		<menu ><b><a href="logout">{{user}} LogOut</a></b></menu>
		{% endif %}
	</nav></center>
	
	
	

	

	{%block container%}

	{%endblock %}
		

		<footer>

            <small>
				
				<h1>UNETE A ESTA PELEA!!!!</h1>

            </small>        

        </footer>
</body>
</html>



	
	
	